language: bash


matrix:
  include:
    - stage:
      rust: 'stable'
      jdk: 'oraclejdk'
      node_js: 'node'
      os: osx
    - stage:
      rust: 'stable'
      jdk: 'oraclejdk'
      node_js: 'node'
      os: linux


notifications:
  slack:
    secure: CQCTN/ioYpkHsbksfXrjY90TcPIWBM2L+FVbcezhNEZMC1wxo15r9uRsApzMm4xpr3J/ZzKj8ctPcPio6ObH8IiPnahbaYNbxWX1Qj2oSH6Zvvkd4EhDo+4MlCsCaRDF8nlS1dogV1gxX/doq2Dzg+fXXKrfQoCXU4Jq+0Oo7yguf4NkqsbcKI+jCz7WD9n9wNE/fReHyW2qogOTmIJofeXWrOkmIZCu9ZECsImKbnWUrt5XWE1ev8RGXicf7PvX9L2AQPbKilBw2tjPu2QeFBw9nn9Hjw5c1LJ0Am7kwlrg8/1WM0nZN6sYf53HqGBJchP6wo6/pXoq080R/6LakFKI6iZqqO51pBSshocsLqBEzyW7rv7ukMhf/qe7IsAFvwQaSOwXTt5PGsig+ILjiSJOkuaAOtwVrl8fQPyi1cy1JYJ7lbwJWXUIGzF5L7TQxemkqxx0QyR4bm7/k2x0U+ve76xALslFakDyPZzJ0Q3um+SRVoS7bkrWRfYh5p5GQUg3rTMwONpYwnORpUnUDqXYLX7gRr9xV6y14TBLJB59v5fCcUK+5A3ZvjxGu3eySs2d0xz7brjWcDprAplDdIfSr8biopJm1fiF08Z6D9RNP9UYH8cQpD2svjR6h/OlArWCjqw9GqRTA3wElid026HRDFRX+Je2UZarQdULgYQ=
addon:
  sonarcloud:
    organization: ssabrii-github
    token:
      secure: eOQwRJgL5GBQTCYLnY5gEKLTyWMH/jBwxAmfrXf/tMDunsILLW2eP3w0TCIAMPZHSmGlZCG1jAHrlp0fiD4jNG3oxILqxA3y8+999Us/CPEKfGeCf6DknXo6jCz8kI0yRavL7S1bGiEMGQUFkPFX0N5JsdB1IkrJBQJd9BxVh1QR7VztiWWG7RJ9Yu5o9ihnMiKPtuqflPA+sr7I1RKHxwJiS7+uDUjwxkqKy3zSjg0xArOOKqFt2RruPoYHvTJ0VV1nG64FkzBX8DTNtXGY35RmueXPR7D/KY76YhxKq3M5RZbS+v9pJvlJ79EEk41o05e/NX10HPlVIaF7+Ohu7raxhTdjNQLUzTyAYmBoDwH1Tf2QMuMyTx9mlqITKo9nZM+zlbHfGqY7kKXT1eKWu3GcBZu3rPSf/jXi8ggOFFfYLOz4U2GaIrMN3E6VhAwPW4QlJ97SuKICMDWGjh0c2GHwz0GVAXtdw1esY9os4iDWp9MuI76P8VDbtdu2ExgJzr4THPQ8xKTwGyGYMgTFdfqZ2r1TXjwTBG5GLct/5G0i2MVBNHx/UCGojxZ25bs4yj0qnWT3Jqj+korZtcYAmLGFwF6izY7WHuI23i0fnYGNCulCLGe+dKIMDJjB0/zsAWj8XUfHS7sFjiu/frHlqQhkjseKjpTgmrALJ/truKY=
deploy:
  provider: releases
  api_key:
    secure: G2mIc0P2HcQN2A6mkPJ87hC+EvoyyCUp9GIXzLEe8yALNPMZdJIDIG1f6pHODmQ9ICuYQ8tqWzGuDj6B/vCAITJ/xKu8beMBcTuESw3a8Ma1DSaHc6KUp9PQsCQQ7UDvXWb30grwwTOYdIW983afiHBD443rSIYhlqHDTi7tCGA4UD61ucTHzA0ZAyGGEUn/YmIIh2sbeA/C8RRKSXiBmRUWRaMxYdzMYCk22k8yrdJmFUFcvoteZYO9FTER00T75p/IGxxWqanF2K9lMOWsX+47NOSa91a3UNTJVOFm5t5diAHTdbVk3Lx+dBSyVM1xWNqzfaqvjR4qSoykp1H1q70r8Ub/oIfRb4es4MSV/66VQHMceYVLXAC8PALH53U/7bM8vMT3/bcXGsUemZ0w/yPzwnrn5miB9njkMa0yt+xOmlsL3JifmJfb0GYMllS9DpVrbd0e7s8D42KgF4Ip1yLDMq3gNsZnt/kRHrCZlK9RXdRNJFpGIcY/DxLtCWqHmwNxnVlXg1jYXwtwkiKDmgYF7WVYGiQFYZ/xJC3U7R+aCSK+uUM58tJFLfbINNhzfxY6PVyPLtYigHTJ4fIRHe9N6vahUJz8OdNTsERHPalndGO69TKFgdyH3sLgdLP7TgWeCFZie4brs5s/b5RQPBsxBAhvWdPeC4SkynN/RyE=
  file: "~/Desktop/Screen Shot 2018-12-10 at 5.00.00 PM.png"
  on:
    repo: ssabrii/test
  skip_cleanup: true
  draft: true
env:
  global:
    secure: WNI0RJbBeSKQ0DVelHXXKknujAQVR4D/Y1LU2tHJjKpp184kRox5ijBSKSsCKNg0RUQ+VQWruay/521ldhl56ISwK5gNbjbF7sfwTY3A7sNS8rQaCrPNAdRrB0GfFUGlzwAJFgnq5n3C6u3iDbmwyZnU1G78xrEe3atoo8S0vS1wfIkxAJ/whyEmPhpq3GiWcjGNLqXb0rdWLuBF12h7jiTCXkoJaUGN3aU6ab5l2Fet97nN4rbSCkPXHV4ZB94D1xtjce2gSVinMKgeJ10YvXli4EkFo3yO3JQKC7UEHHEC3jkKTPV/h1lK6buuw85VSBZvmB0VEUpnRQXmwUKuvyJCOZwqAcLyz3QiklH4yz3N9tXrFoSkgc/EeRBHoXNha1rZClE910yhxdWdr3V9+oKA2uWAmNqKjuB2H3kQ17B8LL4ZvjRB8eQdCs9hEF8AWrWhbalKmORobG+HUhDOhV0DVy10rGHmpzX1hdZlmv/vpt1FGFyPM1m2uy91yvLaUjX6a45Er6VCztAkxnsyyyCf9l6ze4GI+QYNZFoycc9XtmRxUXyHL74GUh9mpDAEWD6bhhhw2VQxym44aNA6Xiy8fCNxdqXICWlAYGFuk1JQSUbEfq+I3nPURTbemEQSnJkup/5g41+yxpvh0riAIxVuDdudyLauq2euiFkVf7A=
  matrix:
    secure: ZDytP3zLs+xqYCzQIVdtLDDD+uMDa/mHUevCdFSEWzY8qZct19BgFBuYmE83c/623m5cbYLsbrQZPeSKp/bqrLfaLEvXXOLpGfK05KhJgDOfNSonBWleuK1QpUS3P5qKfiHelAKg8xmncwUHVsFLbXyJ+ra03KHOeIU3TqQcogfbPwM+Y9Kf1ln9VeoN7n44+ucZbR3Apn9XqRfUOCl7eIKyM0IpgRYg05Y8vr8oeTMJVKBBVpN/qxjeNFzcNeMeHYEB4FC4TmZpLFW19QQC7vJxpatToVrMjNbFP2vSOLJM/UGh4PWDzuHjd45OSet/fjK6gqGQBWcOCfhztlQkGgFD7aIptZArZpxe2GdtlkA9i0OUk78wFDupTpdi9nQEj62whUNAZSgeSWmDyeBxp1WgPTV89iyoOFoCjPwiwqItKVcVin06VcvUxLylQhFZAvbZJLeI6V8xWaRHkOQbRORLjdkK02/ZnGWMFqJuaI2ImmZqBUfKwJDk+9JDYinfv2qePxuWKcFYcweGrPd8gkij7+F/lyCImHxhDW9H8swKmsnB/evBJV74e8HZnKQyJ4BbajISKTgGot1CTn7kTH+NQ6G7eXf5OSwF+RMENULnVDEclDw+u/k3rlvN/VNQKtqifwIpczqC5HOGHnOKLwv6LiPM6SVNjgbCPpooKts=

